@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */

:root {	
	/* Browser area before a page starts loading */
	--gnome-browser-before-load-background: #d6d6d6;
	
	--gnome-accent-color: #1a73e8;

	/* Toolbars */
	--gnome-toolbar-background: #f2f2f2;	
	--gnome-toolbar-color: rgb(46, 52, 54);
	--gnome-toolbar-border-color: #b6b6b3;
	--gnome-inactive-toolbar-background: #f6f5f4;	
	--gnome-inactive-toolbar-border-color: #c0c0bd;

	/* Sidebar */
	--gnome-sidebar-background: #fbfafa;
	--gnome-inactive-sidebar-background: #f9f9f8;

	/* Popups */
	--gnome-menu-background: #ffffff;
	--gnome-menu-border-color: #cdc7c2;
	--gnome-popover-background: #fff;
	--gnome-popover-border-color: #cdc7c2;
	--gnome-popover-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	--gnome-popover-button-hover-background: #f0f0f0;
	--gnome-popover-separator-color: rgba(0, 0, 0, 0.1);

	/* Header bar */
	--gnome-headerbar-background: #E0E0E0;
	--gnome-headerbar-border-color: #999;
	--gnome-headerbar-box-shadow: none; /*0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17), inset 0 1px rgba(255, 255, 255, 0.4);*/
	--gnome-inactive-headerbar-background: #d5d5d5;
	--gnome-inactive-headerbar-border-color: var(--gnome-headerbar-border-color);
	--gnome-inactive-headerbar-box-shadow: none /*0 2px 2px -2px rgba(0, 0, 0, 0.3), 0 1px 2px -1px rgba(0, 0, 0, 0.24), 0 1px 2px -0.6px rgba(0, 0, 0, 0.17), inset 0 1px rgba(255, 255, 255, 0.4)*/;
	
	/* CSD */
	--gnome-csd-border-color: #c6c6c6;

	/* Buttons */
	--gnome-button-background: none;
	--gnome-button-border-color: transparent;
	--gnome-button-border-accent-color: transparent;
	--gnome-button-box-shadow: none;
	--gnome-button-hover-background: rgba(200, 200, 200, .6);
	--gnome-button-active-background: #ccc;
	--gnome-button-active-border-color: transparent;
	--gnome-button-active-border-accent-color: transparent;
	--gnome-button-active-box-shadow: none; /*maybe put blue here? */
	--gnome-button-disabled-background: transparent;
	--gnome-button-disabled-border-color: transparent;
	--gnome-button-disabled-box-shadow: none;
	--gnome-inactive-button-background: none;
	--gnome-inactive-button-border-color: transparent;
	--gnome-inactive-button-box-shadow: none;
	--gnome-button-suggested-action-background: linear-gradient(to top, #2379e2 2px, #3584e4);
	--gnome-button-suggested-action-border-color: #1b6acb;
	--gnome-button-suggested-action-border-accent-color: #15539e;
	--gnome-button-suggested-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-suggested-action-hover-background: linear-gradient(to top, #3584e4, #3987e5 1px);
	--gnome-button-suggested-action-active-background: #1961b9;
	--gnome-button-suggested-action-active-border-color: #1b6acb;
	--gnome-button-suggested-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);	
	--gnome-button-destructive-action-background: linear-gradient(to top, #ce1921 2px, #e01b24);
	--gnome-button-destructive-action-border-color: #b2161d;
	--gnome-button-destructive-action-border-accent-color: #851015;
	--gnome-button-destructive-action-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);
	--gnome-button-destructive-action-hover-background: linear-gradient(to top, #e01b24, #e41c26 1px);
	--gnome-button-destructive-action-active-background: #a0131a;
	--gnome-button-destructive-action-active-border-color: #b2161d;
	--gnome-button-destructive-action-active-box-shadow: inset 0 1px rgba(255, 255, 255, 0);

	/* Entries */
	--gnome-entry-background: rgba(200, 200, 200, .4);
	--gnome-entry-border-color: #9f9f9f;
	--gnome-entry-box-shadow: none;
	--gnome-entry-color: #000;
	--gnome-inactive-entry-background: rgba(200, 200, 200, .4);
	--gnome-inactive-entry-border-color: #c0c0bd;
	--gnome-inactive-entry-box-shadow: none;
	--gnome-inactive-entry-color: #323232;
	--gnome-focused-urlbar-border-color: #1a73e8;
	--gnome-private-urlbar-background: #e6c2ff;

	/* Switch */
	--gnome-switch-background: #e1dedb;
	--gnome-switch-border-color: #cdc7c2;
	--gnome-switch-slider-background: linear-gradient(to bottom, white 10%, white 90%);
	--gnome-switch-slider-border-color: #bfb8b1;
	--gnome-switch-slider-box-shadow: inset 0 1px white, 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.07);	
	--gnome-switch-active-background: #3584e4;
	--gnome-switch-active-border-color: #185fb4;
	--gnome-switch-active-slider-border-color: #185fb4;

	/* Tabs */
	--gnome-tabbar-tab-separator-color: var(--gnome-toolbar-border-color);
	--gnome-tabbar-tab-color: rgb(141, 144, 145);
	
	--gnome-tabbar-tab-hover-background: #e2e2e2;
	--gnome-tabbar-tab-hover-border-bottom-color: var(--gnome-tabbar-tab-separator-color);
	--gnome-tabbar-tab-hover-color: rgb(93, 98, 99);
	
	--gnome-tabbar-tab-active-background: #fff;
	--gnome-tabbar-tab-active-background-contrast: #F7F5F3;
	--gnome-tabbar-tab-active-border-bottom-color: var(--gnome-accent-color);
	--gnome-tabbar-tab-active-border-bottom-color-contrast: var(--gnome-accent-color);
	--gnome-tabbar-tab-active-color: rgb(46, 52, 54);
	--gnome-tabbar-tab-active-hover-background: var(--gnome-tabbar-tab-active-background);
	
	--gnome-inactive-tabbar-tab-color: rgb(61, 67, 69);
	--gnome-inactive-tabbar-tab-active-background: var(--gnome-tabbar-tab-active-background);
	--gnome-inactive-tabbar-tab-active-border-bottom-color: var(--gnome-tabbar-tab-active-border-bottom-color);
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
}
